body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: lavender;
    color: darkcyan;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: blue;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

form {
    display: inline-block;
    text-align: left;
}
